[run]
source = .
omit =
    env/*
    */migrations/*
    */tests.py
    */__init__.py
    */apps.py
    */admin.py
    manage.py
    court_finder/asgi.py
    court_finder/wsgi.py
    court_finder/settings.py

[report]
show_missing = True
skip_covered = True