[run]
source = .
omit =
    venv/*

    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    */apps.py
    manage.py
    court_finder/settings.py
    court_finder/wsgi.py
    court_finder/asgi.py

[report]
show_missing = True
