{% extends 'base.html' %}

{% block content %}

    <div class="col-span-full text-center py-20">
        <i class="fas fa-lock text-gray-400 text-5xl mb-4"></i>
        <h2 class="text-2xl font-bold text-gray-600 mb-2">You can't make a report.</h2>
        <p class="text-gray-500 text-lg">You have to log in to create a report.</p>
        <div class="mt-6">
            <a href="{% url 'autentikasi:login' %}" 
               class="px-5 py-3 bg-[#698C6A] text-white font-semibold rounded-lg shadow-md hover:bg-[#5a7a5b] transition">
                Login Now
            </a>
        </div>
    </div>
{% endblock %}